<section class="customers">
    <div class="container">
        <h2 class="section-title">What our Customers Say</h2>
        <p class="section-text text-customers">
            Don't just take our word for it - see what our satisfied customers
            have to say
        </p>
        <ul class="customers-list list">
            <li class="customers-item">
                <div class="blok-item-customers">
                    <div class="stars-customers">
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                    </div>

                    <p class="section-text customers-section-text">
                        “The Best app I have used to order food in a while, so many
                        options to choose from too, I would recommend to a freind, No
                        questions asked”
                    </p>
                    <div class="person-customers">
                        <img class="customers-image" src="/img/customers/man@1x.webp" alt="photo of man Sumith Shah"
                            width="48" height="48" />
                        <div class="name-person">
                            <h3 class="section-subtitle">Sumith Shah</h3>
                            <p class="section-text">Some Dude</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="customers-item">
                <div class="blok-item-customers">
                    <div class="stars-customers">
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                        <svg class="img-star" width="17" height="16">
                            <use href="/img/foodsta-icons.svg#icon-star"></use>
                            >
                        </svg>
                    </div>
                    <p class="section-text customers-section-text">
                        “The ease with which I can just go in and order what i want
                        was amazing, It has been a very pleasant experience ordering
                        from this app”
                    </p>
                    <div class="person-customers">
                        <img class="customers-image" src="/img/customers/woman@1x.webp" alt="photo of woman Jessi Jess"
                            width="48" height="48" />
                        <div class="name-person">
                            <h3 class="section-subtitle">Jessi Jess</h3>
                            <p class="section-text">Some girl</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>