<section class="favorites">
    <div class="container">
        <h2 class="section-title favorites-title">Some of Our Favorites</h2>
        <p class="section-text favorites-text">
            Looking for something delicious?
        </p>
        <ul class="favorites-item">
            <li class="favorites-list">
                <img class="favorites-pic" src="./images/favorites/gamburger.jpg" alt="Gamburger" width="315"
                    height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="./images/favorites/pasta.jpg" alt="Pasta" width="315" height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="./images/favorites/pizza.jpg" alt="Pizza" width="315" height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="./images/favorites/chicken.jpg" alt="Chicken" width="315"
                    height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="./images/favorites/salat.jpg" alt="Salat" width="315" height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="./images/favorites/borshch.jpg" alt="Borshch" width="315"
                    height="315" />
            </li>
        </ul>
    </div>
</section>