<section class="favorites">
    <div class="container">
        <h2 class="section-title favorites-title">Some of Our Favorites</h2>
        <p class="section-text favorites-text">
            Looking for something delicious?
        </p>
        <ul class="favorites-item">
            <li class="favorites-list">
                <img class="favorites-pic" src="/img/favorites/gamburger@1x.webp" alt="Gamburger" width="315"
                    height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="/img/favorites/pasta@1x.webp" alt="Pasta" width="315" height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="/img/favorites/pizza@1x.webp" alt="Pizza" width="315" height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="/img/favorites/chicken@1x.webp" alt="Chicken" width="315"
                    height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="/img/favorites/salat@1x.webp" alt="Salat" width="315" height="315" />
            </li>
            <li class="favorites-list">
                <img class="favorites-pic" src="/img/favorites/borshch@1x.webp" alt="Borshch" width="315"
                    height="315" />
            </li>
        </ul>
    </div>
</section>