<div class="header-page">
    <div class="container header-container">
        <a class="logotype link" href="">
            <img class="logo-header-image" src="./img/logo-foodsta.svg" alt="logo foodsta" width="66" height="52" />
        </a>

        <nav class="nav-menu">
            <ul class="menu-header list">
                <li class="menu-header-item">
                    <a class="menu-header-link link" href="">Home</a>
                </li>
                <li class="menu-header-item">
                    <a class="menu-header-link link" href="">About</a>
                </li>
                <li class="menu-header-item">
                    <a class="menu-header-link link" href="">Service</a>
                </li>
                <li class="menu-header-item">
                    <a class="menu-header-link link" href="">Menu</a>
                </li>
                <li class="menu-header-item">
                    <a class="menu-header-link link" href="">Contact</a>
                </li>
            </ul>
        </nav>

        <button class="modal-btn light" type="button">Order Now</button>
    </div>
</div>