<!-- modal window -->

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-close-btn" type="button" data-modal-close>
            <svg class="modal-close-btn-icon" width="11" height="11">
                <use href="./images/foodsta-icons.svg#icon-btn-close"></use>
            </svg>
        </button>

        <!-- modal form -->
        <p class="modal-title">Order Form</p>
        <form class="modal-form" action="">
            <label class="modal-lable" for="">
                Name<input class="modal-input" type="text" name="name" placeholder="Your name" minlength="3"
                    maxlength="25" /></label>
            <label class="modal-lable" for="">Phone Number<input class="modal-input" type="text" name="phone"
                    placeholder="+38(0_ _) _ _ _   _ _   _ _" /></label>
            <label class="modal-lable" for="">E-mail<input class="modal-input" type="text" name="mail"
                    placeholder="example@gmail.com" /></label>
            <button class="offer-button-submit modal-btn" type="submit">
                Send
            </button>
        </form>
    </div>
</div>