.customers {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url(../img/customers/customers-background@1x.webp);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-customers {
  line-height: 1.17;
  margin-bottom: 32px;
}

.customers-list {
  display: flex;
  gap: 139px;
}

.customers-item {
  max-width: 501px;
  border-radius: 0 30px 30px 30px;
  background-color: var(--main-background-color);
  transition: transform var(--transition-dur-and-func);
}

.customers-item:hover {
  transform: scale(1.05);
}

.stars-customers {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}

.img-star {
  fill: #ffe550;
}

.blok-item-customers {
  padding: 14px;
}

.customers-section-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 40px;
}

.person-customers {
  display: flex;
}

.person-customers::after {
  content: '';
  display: block;
  position: relative;
  top: 26px;
  left: 0;
  transform: rotate(90deg);
  width: 52px;
  height: 1px;
  background-color: var(--secondary-text-color);
}

.name-person {
  margin-right: 16px;
}

.name-person > h3 {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.name-person > p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

.customers-image {
  margin: 2px 16px 2px 0;
}
