.header-page {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-header {
  display: flex;
  align-items: center;
}

.menu-header-item:not(:last-child) {
  margin-right: 28px;
}

.menu-header-item:last-child {
  margin-right: 30px;
}

.menu-header-link {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 28px;
}

.modal-btn.light {
  padding: 6px 18px;
  background-color: var(--primary-accent-color);
  border: none;

  transition: background-color var(--transition-dur-and-func);
}

.modal-btn.light:hover,
.modal-btn.light:focus {
  background-color: var(--secondary-accent-color);
}

.menu-header .link {
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-text-color);

  transition: color var(--transition-dur-and-func),
    font-weight var(--transition-dur-and-func),
    text-decoration-line var(--transition-dur-and-func);
}

.menu-header .link:hover,
.menu-header .link:focus {
  font-weight: 700;
  text-decoration-line: underline;

  color: var(--primary-accent-color);
}
